body {
    margin: 0; /* убираем внешний отступ (по бокам) */
    font-family: 'Lora', serif;}


ul {
    padding: 0; /* убираем отступ слева от списка */
    margin: 0; /* убираем область отпуста сверху, которая образуется из-за списка */
    list-style: none; /* убираем точки */
}

.header li { /* добавили header, чтобы ol в body выравнивался не в одну линию, как меню*/
    display: inline; /* выравниванием меню с одну строку */
    margin-right: 60px; /* отступы между пунктами меню */
    background-color: rgb(0,0,0);
    
}

li:last-child { /* псевдокласс, last child применяется к ul, т.к. li вложен в ul*/
    margin-right: 0;
}

.header { /* обращение не к header, а к классу header */
    font-family: 'Lora', serif;
    background-color: black;
    color: blue;
    padding: 20px 0; /* составное свойство, чтобы не прописывать для 4 сторон отдельно */
    letter-spacing: 2px; /* добавление пробелов между буквами */
    text-transform: uppercase; /* преобразование текста в верхний регистр */
    background-image: url1(Users/vikavertaeva/Desktop/моя\ жизнь/ВУЗ/2\ курс/прога\ 2\ курс/221-351/homelaba1/3.jpg );
    border-bottom: 5px solid rgb(47, 10, 61); /* добавление нижней границы */
    box-shadow: 0px 0px 10px background-color(0, 0, 0, 0.5); /* добавление тени */
    /* font-size: 1em;  размер шрифта относительно родителя, 20 px - обычно стандартно,
    1em - как у родителя, если у всех будет 0.5em, то это бесконечное уменьшение у наследников*/
    font-size: 1.25rem;
}

/* контекстный селектор: */
.main-menu a { /* применяем только к тегам а внутри меню, вложенность не имеет значения*/
    text-decoration: none; /* убираем подчеркивания */
    color: beige; /* цвет ссылок */
    font-weight: bold; /* жирность начертания ссылок*/
   
    
}

.container {
    max-width: 75%; /* ограничиваем область nav*/
    margin: 0 auto; /* отступ сверху и снизу нам не нужен, слева и справа хотим 25% распределить автоматом*/
    
}

table {
    border: 1px solid #69c;
    border-collapse: separate;
    empty-cells: hide;
 }
 th, td {
    border: 2px solid #69c;
 }