/* Стили для печати 
@media print {
    nav, footer {
      display: none;
    }}*/


@media print {
  /* Скрываем навигацию */
  nav {
    display: none;
  }
  
  /* Скрываем подвал */
  footer {
    display: none;
  }
  
  /* Изменяем размер шрифта */
  body {
    font-size: 12pt;
  }
  
  /* Устанавливаем межстрочное расстояние */
  p {
    line-height: 1.5;
  }
  
 
  
  /* Изменяем цвет ссылок */
  a {
    color: #0000FF;
  }
  
  /* Устанавливаем цвет фона */
  body {
    background-color: #e7e4e4;
  }
}

rgb(0, 0, 0)rgb(255, 0, 0)