/* Стили для печати 

@media print {
  /* Скрываем навигацию */
  nav {
    display: none;
  }
  
  /* Скрываем подвал */
  footer {
    display: none;
  }
  
  /* Изменяем размер шрифта */
  body {
    font-size: 20pt;
  }
  
  /* Устанавливаем межстрочное расстояние */
  p {
    line-height: 1,5;
  }
  
 
  
  /* Изменяем цвет ссылок */
  a {
    color: #0000FF;
  }
  
  /* Устанавливаем цвет фона */
  body {
    background-color: #beb5b5;
  }


