body{
    font-family: 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;
    background-color: rgb(184, 255, 30)
  
}
header.nav,main,footer{
    padding:20px;
}
header{
    background-color: #f9f9f9;
  }
  
  h1 {
    color: #ffaa00;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  /* nav ul li и nav ul li a являются селекторами CSS, которые используются для стилизации элементов внутри навигационного меню.
nav ul li означает, что мы применяем стили к <li> элементам, которые находятся внутри <ul> элемента внутри <nav> элемента. Это позволяет нам выбирать
 конкретные элементы внутри навигационного меню для применения стилей. В данном случае, мы устанавливаем значение свойства display равным inline,
  что говорит браузеру отображать элементы <li> в одну линию, рядом друг с другом, а не вертикально */
  nav ul li {
    display: inline; 
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  nav ul li a:hover {
    color: #ffaa00;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
  }
  
/* */
/* Стили для главной страницы */
section h2 {
    color: #ffaa00;
  }
  
  /* Стили для страницы "Персонажи" */
  .character-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
  }
  
  .character-list li {
    flex: 1 1 300px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .character-list img {
    width: 100%;
    max-width: 200px;
  }
  
  /* Стили для страницы "Галерея" */
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .gallery img {
    width: calc(33% - 10px);
    margin-bottom: 20px;
  }
  
  /* Стили для страницы "Контакты" */
  .contact-list {
    list-style-type: none;
    padding: 0;
  }
  
  .contact-list li {
    margin-bottom: 10px;
  }
  
  /* Дополнительные стили для улучшения внешнего вида сайта */
  section {
    margin-bottom: 40px;
  }